@font-face {
    font-family: Gotham-Book;
    src: url("fonts/Gotham-Book.otf");
}

@font-face {
    font-family: Gotham-Light;
    src: url("fonts/Gotham-Light.otf");
}

@font-face {
    font-family: Gotham-Medium;
    src: url("fonts/Gotham-Medium.otf");
}

a,a:hover,a:focus{
    color: #fff;
    text-decoration: none;
}
button.ico-address-btn{
    border: none;
    width: 40px;height:100%;background: url(../images/icon/copy_button@2x.png) no-repeat center/cover;
}
button:focus{
    outline: none;
}
input:focus {
    outline: none;
}

ul {
    padding: 0;
    list-style: none;
}

::-webkit-scrollbar {
    width: 0px
}

.pd-160 {
    padding: 160px 0!important;
}

.mt-170 {
    margin-top: 170px!important;
}

.mt-120 {
    margin-top: 120px!important;
}

.mt-100 {
    margin-top: 100px!important;
}
.mt-40{
    margin-top: 40px!important;
}
.mt-24 {
    margin-top: 24px!important;
}

.bgf2 {
    background-color: #f2f5f6!important;
}

.btn:hover,
.btn:focus {
    color: #fff;
}

.center-align {
    text-align: center!important;
}

.navbar-default {
    border: none;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #fff;
}
.notice{
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
    padding: 15px;
}
.notice>h3{
    font-weight: normal;
}
.ico-top {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.1)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
    padding: 5px 15px 60px;
    color: #fff;
    position: relative;
    overflow: hidden;
}
.bg-cover{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url(../images/header_image.jpg) no-repeat center top/cover;
    -webkit-animation: scale  200s linear infinite;
       -moz-animation: scale  200s linear infinite;
            animation: scale  200s linear infinite;
}
.ico-top>.container {
    padding: 0;
}

.ico-nav {
    font-family: Gotham-Book;
    background-color: transparent;
}

.ico-nav .navbar-brand {
    font-size: 20px;
    line-height: 1.2;
    height: auto;
    color: #fff;
}
.dropdown {
    padding: 15px;
}

.dropdown-menu {
    min-width: 0;
    padding: 0;
    margin: 0;
}
.ico-book{
    padding: 15px;
}
.header-logo {
    width: 182px;
}

.invalid-name {
    font-size: 32px;
    font-weight: 300;
    line-height: 1.88;
    margin-top: 96px;
    font-family: Gotham-Light;
}

.ico-top .slogan {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    margin-top: 16px;
    font-family: Gotham-Light;
}

.ico-address {
    width: 344px;
    height: 48px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #607d8b;
    margin: 64px auto 0;
    line-height: 48px;
    font-size: 16px;
    font-family: Gotham-Book;
}

.ico-address-en {
    font-size: 12px;
}

.address-tit {
    font-size: 12px;
    line-height: 1.67;
    color: #607d8b;
    margin-top: 8px;
}

.ico-des {
    padding: 120px 0 160px;
    font-family: Gotham-Book;
    color: #2c363f;
    line-height: 1.5;
}

.ico-des-title {
    font-size: 29px;
    font-weight: 300;
    color: #2c363f;
    line-height: 1.5;
    font-family: Gotham-Light;
}

.ico-des ul {
    margin-top: 80px;
}

.ico-des-list {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.43;
}

.ico-des-dot {
    float: left;
    margin-right: 15px;
}

.ico-des-dot+div {
    overflow: hidden;
}

.ico-superiority ul {
    margin-top: 20px;
}

.ico-superiority li {
    padding: 100px 50px 0;
    font-family: Gotham-Book;
    color: #2c363f;
}

.ico-sup-icon {
    float: left;
    width: 32px;
    height: 32px;
    margin-right: 15px;
    background-color: #2c363f;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
}

.ico-sup-icon>img {
    width: 100%;
}

.ico-sup-icon+div {
    overflow: hidden;
}

.ico-application {
    background-color: #607d8b;
}

.ico-application .ico-des-title {
    color: #fff;
}

.ico-apl-list>li {
    padding: 0 16px;
    margin-top: 20px;
}

.ico-apl-list>li>.ico-apl-detail {
    background-color: #fff;
    background-repeat: no-repeat;
    -moz-background-size: 344px;
    background-size: 344px;
    background-position: right bottom;
    padding: 40px 32px;
    height: 240px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.ico-apl-list>li:nth-of-type(1)>.ico-apl-detail {
    background-image: url(../images/icon/scenario_icon_1@2x.png);
}

.ico-apl-list>li:nth-of-type(2)>.ico-apl-detail {
    background-image: url(../images/icon/scenario_icon_2@2x.png);
}

.ico-apl-list>li:nth-of-type(3)>.ico-apl-detail {
    background-image: url(../images/icon/scenario_icon_3@2x.png);
}

.ico-apl-list>li:nth-of-type(4)>.ico-apl-detail {
    background-image: url(../images/icon/scenario_icon_4@2x.png);
}

.ico-apl-list>li:nth-of-type(5)>.ico-apl-detail {
    background-image: url(../images/icon/scenario_icon_5@2x.png);
}

.ico-apl-list>li:nth-of-type(6)>.ico-apl-detail {
    background-image: url(../images/icon/scenario_icon_6@2x.png);
}

.ico-apl-detail>.ico-apl-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #2c363f;
    font-family: Gotham-Medium;
}

.ico-apl-info {
    margin-top: 9px;
    font-size: 12px;
    line-height: 1.5;
    color: #607d8b;
    font-family: Gotham-Book;
}

.ico-market-list {
    position: relative;
    padding-right: 60px;
}

.ico-market-list:before {
    position: absolute;
    top: -40px;
    left: 0;
    font-family: Gotham-Light;
    font-size: 160px;
    font-weight: 300;
    line-height: 1.0;
    color: #f2f5f6;
    z-index: -1;
}

.ico-market-list.list1:before {
    content: '1';
}

.ico-market-list.list2:before {
    content: '2';
}

.ico-market-list.list3:before {
    content: '3';
}

.ico-market-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    color: #2c363f;
    font-family: Gotham-Medium;
}
.ico-team-list{
    padding: 20px 12px;
    width: 196px;
    display: inline-block;
    float: none;
    vertical-align: top;
}
.ico-team-img {
    width: 120px;
    height: 120px;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.ico-team-img>img {
    width: 100%;
}

.ico-team-name {
    margin-top: 32px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    color: #607d8b;
    font-family: Gotham-Medium;
}

.ico-team-info {
    margin-top: 8px;
    font-size: 12px;
    line-height: 1.5;
    color: #a9b9c1;
    font-family: Gotham-Book;
}

.ico-counselor>.container {
    border-top: 1px solid #e1e6e9;
    padding: 160px 15px;
}

.ico-partner-list {
    height: 64px;
    margin-top: 40px;
}

.ico-partner-list>a {
    display: inline-block;
    height: 100%;
}

.ico-partner-list img {
    width: auto;
    height: 100%;
}
.ico-develop {
    background-color: #e1e6e9;
    overflow: hidden;
    position: relative;
    height: 900px;
}

.develop-box .dev-date {
    font-family: Gotham-Medium;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    color: #a9b9c1;
}

.develop-box .dev-des {
    font-family: Gotham-Book;
    font-size: 14px;
    line-height: 1.43;
    color: #607d8b;
    margin-top: 8px;
}
footer {
    background-color: #2c363f;
    padding: 120px 0 48px;
}

footer .row {
    padding-bottom: 120px;
}

footer .medi-shares {
    margin: 0;
}

footer .medi-shares>img {
    height: 40px;
}

footer .contact-list>li {
    margin-top: 24px;
}

footer .contact-list>li:first-of-type {
    margin-top: 0;
}

footer .contact-list a {
    display: block;
}

footer .contact-icon {
    width: 40px;
    height: 40px;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    margin-right: 16px;
    vertical-align: middle;
    overflow: hidden;
}

footer .contact-icon>img {
    width: 100%;
}

footer .contact-icon+span {
    font-family: Gotham-Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    color: #607d8b;
    vertical-align: middle;
}

.code-tip {
    font-family: Gotham-Medium;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33;
    color: #607d8b;
    margin-top: 24px;
    white-space: nowrap;
}

.copyright {
    font-family: Gotham-Book;
    font-size: 14px;
    line-height: 1.43;
    color: #607d8b;
}
.iScrollHorizontalScrollbar {
    position: absolute;
    z-index: 9999;
    height: 24px;
    width: 300px;
    left: 50%;
    -webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);
    bottom: 0;
    overflow: visible!important;
}
.iScrollHorizontalScrollbar:before{
    content: "";
    position: absolute;
    top: 11px;
    left: 0;
    height: 0;
    width: 100%;
    border-top: 2px solid #c8d2d7;
}

.iScrollHorizontalScrollbar .iScrollIndicator {
    position: absolute;
    width: 64px!important;
    height: 24px!important;
    background:url(../images/icon/slide_btn@2x.png) no-repeat top left/cover;
}

#wrapper {
    position: absolute;
    z-index: 1;
    top: 328px;
    bottom: 80px;
    left: 0;
    right: 0;
    overflow: hidden;
}

#scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}
@media (max-width: 767px) {
    .pd-160 {
        padding: 60px 0!important;
    }

    .mt-120,.mt-170,.mt-40{
        margin-top: 0px!important;
    }
    .mt-100 {
        margin-top: 40px!important;
    }
    .invalid-name {
        font-size: 24px;
        margin-top: 80px;
        line-height: 1.33;
    }
    .ico-top .slogan {
        font-size: 14px;
        padding: 0 40px;
    }
    .ico-des {
        padding: 60px 0 80px;
    }
    .ico-des li {
        margin-top: 40px;
        padding: 0;
    }
    .ico-des>.container,.ico-superiority>.container,.ico-market>.container,.ico-team>.container{
        padding: 0 32px;
    }
    .ico-des>.container>ul,.ico-superiority>.container>ul,.ico-market>.container>ul{
        margin: 0;
    }
    .ico-superiority li {
        padding: 40px 0 0;
    }
    .ico-apl-list>li {
        margin-top: 8px;
    }
    .ico-apl-list-en>li>.ico-apl-detail {
        height: auto;
    }
    .ico-market-list:before {
        display: none;
    }
    .ico-market-list {
        margin-top: 40px;
        padding: 0 ;
    }
    .ico-team-list{
        padding: 20px 15px;
        width: 50%;
        float: left;
        min-height: 345px;
    }
    .ico-team-img {
        width: 96px;
        height: 96px;
    }
    .ico-counselor>.container {
        padding: 60px 0;
        margin: 0 32px;
    }
    .ico-team-name {
        margin-top: 24px;
    }
    .ico-counselor .ico-team-list {
        min-height: 325px;
    }
    footer {
        padding: 80px 17px 40px;
    }
    footer .medi-shares {
        margin-bottom: 60px;
    }
    footer .contact-list>li {
        padding: 0;
    }
    footer .contact-list>li:nth-of-type(2) {
        margin-top: 0;
    }
    footer .contact-icon {
        margin-right: 12px;
    }
    footer .code-img {
        margin-top: 80px;
    }
    footer .code-tip {
        margin-top: 16px;
    }
    footer .row {
        padding-bottom: 80px;
    }
    .ico-address {
        width: 100%;
    }
    .scroll-box>ul {
        padding: 40px 32px 0 42px;
    }

    .ico-develop{
        height: auto;
    }
    #wrapper {
        position: relative;
        left: auto;
        top: auto;
        bottom: auto;
        right: auto;
    }

    #scroller {
        position: relative;
    }

    .ico-develop-list {
        padding: 0 0 40px 32px;
        position: relative;
        border-left: 4px solid #c8d2d7;
    }
    .ico-develop-list:last-of-type {
        border: none;
        padding-bottom: 0;
    }
    .ico-develop-list:before {
        content: '';
        position: absolute;
        top: 0;
        left: -14px;
        width: 8px;
        height: 8px;
        -moz-border-radius: 50%;
        border-radius: 50%;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        background-color: #c8d2d7;
        border: 8px solid #f2f5f6;
        -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    }
    .ico-develop-list:last-of-type:before {
        left: -10px;
    }
    .iScrollHorizontalScrollbar{
        display: none;
    }
}

@media (max-width: 360px) {
    .ico-address-en {
        font-size: 11px;
    }
    footer .contact-icon {
        margin-right: 3px;
    }
    footer .contact-icon+span {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    .ico-partner-list {
    width: auto;
    padding: 0;
    margin: 40px 24px 0;
    display: inline-block;
    float: none;
    }
    .scroll-box>ul {
        width: 1500px;
        border-top: 4px solid #c8d2d7;
        padding-left: 132px;
    }
    .ico-develop-list {
        width: 263px;
        position: relative;
        border-left: 1px solid #c8d2d7;
        min-height: 160px;
    }
    .ico-develop-list:nth-of-type(2n+1) {
        -webkit-transform: translateY(-160px);
        -moz-transform: translateY(-160px);
        -ms-transform: translateY(-160px);
        transform: translateY(-160px);
    }
    .ico-develop-list:before {
        content: '';
        position: absolute;
        top: -14px;
        left: -12px;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        width: 8px;
        height: 8px;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background-color: #c8d2d7;
        border: 8px solid #f2f5f6;
        -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    }
    .ico-develop-list:nth-of-type(2n+1):before {
        top: auto;
        bottom: -14px;
    }
    .develop-box {
        position: absolute;
        padding-left: 16px;
        bottom: 0;
    }
    .ico-develop-list:nth-of-type(2n+1) .develop-box {
        top: 0;
        bottom: auto;
    }
    .ico-apl-list-en>li>.ico-apl-detail {
        height: 360px;
    }

}

@media (min-width: 992px) {
    .ico-apl-list-en>li>.ico-apl-detail {
        height: 260px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1080px;
    }
    .ico-apl-list-en>li>.ico-apl-detail {
        height: 240px;
    }
}
@media (min-width: 1450px) {
    .iScrollHorizontalScrollbar{
        display: none;
    }
    #scroller,.scroll-box,.scroll-box>ul{
        width: 100%;
    }
    .ico-develop-list{
        width: 20%;
    }
}


@-webkit-keyframes scale {
    0% {
        -webkit-transform: scale(1) translate(0 ,0);
                transform: scale(1) translate(0 ,0);
    }
    25% {
        -webkit-transform: scale(2) translate(20% ,20%);
                transform: scale(2) translate(20% ,20%);
    }
    50% {
        -webkit-transform: scale(1) translate(0 ,0);
                transform: scale(1) translate(0 ,0);
    }
    75% {
        -webkit-transform: scale(2) translate(-20% ,-20%);
                transform: scale(2) translate(-20% ,-20%);
    }
    100% {
        -webkit-transform: scale(1) translate(0 ,0);
                transform: scale(1) translate(0 ,0);
    }
}

@-moz-keyframes scale {
    0% {
        -moz-transform: scale(1) translate(0 ,0);
             transform: scale(1) translate(0 ,0);
    }
    25% {
        -moz-transform: scale(2) translate(20% ,20%);
             transform: scale(2) translate(20% ,20%);
    }
    50% {
        -moz-transform: scale(1) translate(0 ,0);
             transform: scale(1) translate(0 ,0);
    }
    75% {
        -moz-transform: scale(2) translate(-20% ,-20%);
             transform: scale(2) translate(-20% ,-20%);
    }
    100% {
        -moz-transform: scale(1) translate(0 ,0);
             transform: scale(1) translate(0 ,0);
    }
}

@keyframes scale {
    0% {
        -webkit-transform: scale(1) translate(0 ,0);
           -moz-transform: scale(1) translate(0 ,0);
                transform: scale(1) translate(0 ,0);
    }
    25% {
        -webkit-transform: scale(2) translate(20% ,20%);
           -moz-transform: scale(2) translate(20% ,20%);
                transform: scale(2) translate(20% ,20%);
    }
    50% {
        -webkit-transform: scale(1) translate(0 ,0);
           -moz-transform: scale(1) translate(0 ,0);
                transform: scale(1) translate(0 ,0);
    }
    75% {
        -webkit-transform: scale(2) translate(-20% ,-20%);
           -moz-transform: scale(2) translate(-20% ,-20%);
                transform: scale(2) translate(-20% ,-20%);
    }
    100% {
        -webkit-transform: scale(1) translate(0 ,0);
           -moz-transform: scale(1) translate(0 ,0);
                transform: scale(1) translate(0 ,0);
    }
}
