/*项目*/

.projects-list {
  overflow: hidden;
  max-width: 824px;
  margin: 0 auto;
  padding: 64px 0;
}

.projects-list li {
  padding: 0;
  background: #fff;
  margin: 32px 0;
}

.projects-list .content {
  overflow: hidden;
  padding: 48px;
  font-size: 16px;
  line-height: 24px;
  word-break: break-word;
}

.part-title {
  font: 500 24px/32px Gotham-Medium;
  margin-bottom: 16px;
}

.projects-list li .image {
  width: 312px;
  float: right;
}

.platform {
  color: var(--blueGrey);
  margin-top: 16px;
}

.projects-list a {
  color: var(--blueColor);
  display: block;
  margin-top: 16px;
}


/*小于768px屏幕 手机 xs*/

@media (max-width: 767px) {
  /*项目*/
  .projects-list {
    padding: 0;
  }
  .projects-list li .content {
    padding: 0 24px 32px;
    position: relative;
  }
  .projects-list li .image {
    float: none;
    width: 70%;
    display: block;
    margin: 0 auto;
  }
}